/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000;
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width: 100vw;
    height: 100vh;
}


/* Portrait layout (default) */
.app {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}



.app p{
    color: #BBB;
    text-align: left;

}
.app h1{
    text-align: center;
}

.app .view{
    width: 100vw;
    height: 100vh;
    color: #FFF;
    text-transform:uppercase;
}

/* DIV ERRO *********************************/
.div_erro{
    color: red;
    text-align: center;
    text-transform: none;
}

/* TELA INICIAL - ENTRAR OU CADASTRAR **********************************************/
#inicio div{
    position: relative;
}

#inicio h1{
    height: 50%;
    width: 100%;

    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;    
}

#inicio #inicio_1{
    height: 80%;
    position: relative;

}

#inicio #inicio_1 img{
    height: 70%;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

#inicio #inicio_2{
    height: 10%;
    background-color: #FFF;
    color: #000;
}

#inicio #inicio_3{
    height: 10%;
    color: #FFF;
}

/* ENTRAR ***********************************************/

#entrar #entrar_form{
    width: 80%;
    margin: 0 auto;
}


#entrar #entrar_form input[type="text"], #entrar #entrar_form input[type="password"]{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    outline: none;
    border: none;
    border-bottom:1px solid #FFF;
    width: 100%;
    height: 30px;

    background: none;  
    margin-bottom: 6px;
    color: #FFF;
}

#entrar #entrar_1{
    margin-top: 30%;
    height: 10%;
}
#entrar #entrar_7{
    height: 15vw;
}

#entrar #entrar_7 input{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: none;
    outline: none;
    color: #000;
    font-size: 30px;
}

/* TEMPLATE ***********************************************/

#template{
    background-color: #FFF;
}

/* PEDIDOS ***********************************************/

.pedidos{
    border: 1px solid #E6E9ED;
    margin-bottom: 10px;
    padding: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}

.pedidos p{
    color: #000;   

}